<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

<h1>Productos</h1>

<a th:href="@{/products/new}">Nuevo producto</a>

<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.category.name}"></td>

        <td>
            <a th:href="@{/products/edit/{id}(id=${product.id})}">
                Editar
            </a>

            |

            <a th:href="@{/products/delete/{id}(id=${product.id})}">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>