<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
</head>
<body>

<h1>Lista de Categorías</h1>

<a href="/categories/new">Nueva Categoría</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <a th:href="@{/categories/edit/{id}(id=${category.id})}">
                Editar
            </a>

            <a th:href="@{/categories/delete/{id}(id=${category.id})}">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>